# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
**/.esphome/
**/secrets.yaml
**/.env
!**/.env.example
**/__pycache__/
.cache/
.venv/
output/
firmwares/
.docker/**/config/
.docker/**/mysql_data/
esphome/private/
