name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  ci:
    name: Building ${{ matrix.file }} / ${{ matrix.esphome-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        file:
          - esphome/luxmeter
          - esphome/vindriktning
          - esphome/bluetoothproxy
          - esphome/garagedoor
          - esphome/ds18b20
          - esphome/ds18b20_beta
          - esphome/dth22
          - esphome/ikea_fornuftig
          - esphome/ikea_uppatvind
          - esphome/kemo_m152

        esphome-version:
          - latest
          - beta
          - dev
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5.0.0
      - name: ESPHome ${{ matrix.esphome-version }}
        uses: esphome/build-action@v7.0.0
        with:
          yaml-file: ${{ matrix.file }}.yaml
          version: ${{ matrix.esphome-version }}
